<ion-header>

  <ion-navbar>
    <ion-title>
      Statistikk
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="selectSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card class="flexitid">
  <h1 style="margin-left:10px;color:black;padding:0;font-weight:500" >Tilgjengelig flexitid </h1>
    24,4 timer
  </ion-card>

  <ion-card>
    <h1 class="statisticsTitle">Sammendrag </h1>
    <ion-card class="ionCard" >
    <ion-card-header (click)="toggle()" class="ionCardHeader">21. mai - 20. juni
      <ion-icon class="documentIcon" name="document"></ion-icon>
    </ion-card-header>
    <ion-grid *ngIf="toggle1">
      <ion-row>
        <ion-col>
          <ion-list style="padding:0">
            <ion-item>
              Ordinært:
            </ion-item>
            <ion-item>
              Overtid:
            </ion-item>
            <ion-item class="finalSum">
              Sum
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list style="padding:0">
            <ion-item>
              24,6 timer
            </ion-item>
            <ion-item>
              10,2 timer
            </ion-item>
            <ion-item class="finalSum">
            34,8 timer
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="sum">
            Opptjent: 10.203,-
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>

  <ion-card class="ionCard" >
  <ion-card-header (click)="toggle21()" class="ionCardHeader">21. april - 20. mai
    <ion-icon class="documentIcon" name="document"></ion-icon>
  </ion-card-header>
  <ion-grid *ngIf="toggle2">
    <ion-row>
      <ion-col>
        <ion-list style="padding:0">
          <ion-item>
            Ordinært:
          </ion-item>
          <ion-item>
            Overtid:
          </ion-item>
          <ion-item class="finalSum">
            Sum
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list style="padding:0">
          <ion-item>
            24,6 timer
          </ion-item>
          <ion-item>
            10,2 timer
          </ion-item>
          <ion-item class="finalSum">
          34,8 timer
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="sum">
          Opptjent: 10.203,-
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
    </ion-card>


  
</ion-content>>
