page-about {
    .card {
    border-bottom: 0.55px solid #c8c7cc;
    background-color: map-get($colors,light);
}
}

.finalSum {
    font-weight: 800;
}

.documentIcon {
    float:right;
}

.col {
    padding:0 !important;
}



.sum{
    font-size: 20px;
    text-align: center;
    background-color:map-get($colors,secondary) !important;
}

.flexitid {
    padding:15px;
    font-size: 20px;
    text-align: center;
    background-color: map-get($colors,light);
}

.statisticsTitle {
    color:black;
    padding:5px;
    text-align:center;
    font-weight:500 !important;
    padding: 10px 10px 0px 10px
}
