page-contact {

}

h6 {
   text-align:left;
   font-weight:300;
   font-size:16px;
   margin:0;
}

.list-md {
    background-color:rgba(256, 256, 256,  0)!important;
}

.label p {
    padding-left:0;
    padding-top:1px;
    font-weight: 300;
}

.label h2 {
    padding-top:3px;
    font-weight:400;
}

.ion-list:first-child{
    border-radius: 5px 5px 0px 0px;
}

.item-block {
    background-color: #f8f8f8 !important;
}

.list-header-ios {
border-bottom:0;
}

.avatar {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 4px;
  padding-top: 10px;
  background: map-get($colors,primary);
  border: 1px solid #666;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.loadingBarDown{
    width:50%;
    margin-left:auto;
    margin-right:auto;
   background: repeating-linear-gradient(
  -45deg,
  #7CFC00,
  #7CFC00 10px,
  #4EFC00 10px,
    #4EFC00 20px
    );    text-align:center;
}

.loadingBarDown:nth-child(odd){
    color:#ffffff;
    background: repeating-linear-gradient(
  -45deg,
  #a00b0b,
  #a00b0b 10px,
  #c00b0b 10px,
    #c00b0b 20px
    );    text-align:center;
}

.loadingBox {
    height: 350px;
    width:90%;
    margin: auto;
}

