<ion-header>

  <ion-navbar>
    <ion-title>
      Detaljer
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <h1 style="color:black; text-align:center;padding-top:20px">{{item.Startdato}}</h1>
  <h3 style="color:black; text-align:center;padding:0">{{item.Starttid}} - {{item.Sluttid}}</h3>
  <h6 *ngIf="!inTheFuture()" style="padding:10px">Registrerte stemplinger</h6>
  <div class="loadingBox" style="height:50px" *ngIf="!inTheFuture()">
    <!--
    <div style="height:350px">
      <div  class="loadingBarDown" *ngFor="let x of segmentWidthPlan, let j = index" style="position:absolute" [ngStyle]="{'height' : x}"> </div>
    </div>
    -->
    <div style="height:50px">
      <h6 style="text-align:right;float:right">{{fromTimestampToHHMM(item.Stempletider[item.Stempletider.length -1])}}</h6>
      <div>
        <h6>&#8203; </h6>
        <div style="height:40px" class="loadingBar" [ngStyle]="{'width' : lateWidth}"></div>
      </div>
      <div *ngFor="let x of segmentWidth, let j = index">
        <h6>{{fromTimestampToHHMM(item.Stempletider[j])}}</h6>
        <div style="height:40px" class="loadingBar" (click)="editTimestamp(fromTimestampToHHMM(item.Stempletider[j]))" [ngStyle]="{'width' : x}">
      </div>
      </div>
    </div>
  </div>

<ion-list>
<ion-list-header>På jobb denne dagen</ion-list-header>

    <ion-item style="border-radius:5px 5px 0 0">
      <ion-avatar item-start>
        <div class="avatar">KÅ</div>
      </ion-avatar>
      <h2>Karianne Åsen</h2>
      <p>10:00 - 18:00</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <div class="avatar">KS</div>
      </ion-avatar>
      <h2>Karl Svendsen</h2>
      <p>08:00 - 16:00</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <div class="avatar">KS</div>
      </ion-avatar>
      <h2>Karl Stiggerud</h2>
      <p>08:00 - 16:00</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <div class="avatar">JM</div>
      </ion-avatar>
      <h2>Johanna Mølbakken</h2>
      <p>10:00 - 18:00</p>
    </ion-item>
  </ion-list>
</ion-content>
