page-contact {

}

h6 {
   text-align:left;
   font-weight:300;
   font-size:13px;
   margin:0;
}

h1 {
    padding-left:0px !important;
}

h5 {
    padding-left:0px !important;
}

.list-md {
    background-color:rgba(256, 256, 256,  0)!important;
    padding:0% !important;
}

.checkInOutInfoBox:nth-child(odd){
    background: repeating-linear-gradient(-45deg,#7CFC00,#7CFC00 10px,#4EFC00 10px,#4EFC00 20px);
}

.checkInOutInfoBox:nth-child(even){
    background: repeating-linear-gradient(-45deg,#a00b0b,#a00b0b 10px,#c00b0b 10px,#c00b0b 20px);
}

.checkInOutInfoBox2 {
    padding:0;
}



.ion-vard-header {
    color:#ffffff !important;
    background-color: #3a3a3a !important;
}

.label p {
    padding-left:0;
    padding-top:1px;
    font-weight: 300;
}

.label h2 {
    padding-top:3px;
    font-weight:400;
}

.posts{
    height:100%;
    display:table;
}

.item-block {
    background-color: #f8f8f8 !important;
}

.list-header-ios {
border-bottom:0;
}

.avatar {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 4px;
  padding-top: 10px;
  background: map-get($colors,primary);
  border: 1px solid #666;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.loadingBarDown{
    width:50%;
    margin-left:auto;
    margin-right:auto;
       text-align:center;
}

.loadingBarDown:nth-child(odd){
    color:#ffffff;
       text-align:center;
}

.loadingBox {
    height: 350px;
    width:100%;
    margin: auto;
}

.loadingBoxInner {
    display: inline-block;
}



.loadingBoxInner:nth-child(odd) {
    background: repeating-linear-gradient(
  -45deg,
  #7CFC00,
  #7CFC00 10px,
  #4EFC00 10px,
    #4EFC00 20px
    ) !important;
}

.loadingBoxInner:nth-child(even) {
    background: repeating-linear-gradient(
  -45deg,
  #a00b0b,
  #a00b0b 10px,
  #c00b0b 10px,
    #c00b0b 20px
    ); 
}

.editButtons {
    float:right;
    height:30px;
    margin-right: 5px;
    font-size: 15px;
    height: 100%;
    margin: 0;
    width: 15%;
}

.ion-button {
    color:white;
}

.trashIcon {
    background-color:map-get($colors,danger);
    padding:10px;
    margin:0px !important;
}

.addIcon {
    background-color:map-get($colors,secondary);
    padding:10px;
    margin:0px !important;
}

#datetime-17-0{
    width:50%;
}