<ion-header>
  <ion-navbar>
    <ion-title>
      Min arbeidsplan
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 

<ion-content>
<div class="info">

<!-- Next record, checking in/out -->
<ion-slides>
  <ion-slide>
  <div class="record" *ngFor="let x of firebaseService.planNext, let i=index" >
    <div class="topBox" (click)="itemSelected(firebaseService.planNext[0],segmentWidth)">
      <ion-icon name="pin" class="pinIcon" [ngStyle]="{'color': (locationTracker.paJobb ? '#7CFC00' : '#a00b0b')}"></ion-icon>      
      <h1>{{ fromTimestampToTextIdagImorgen(firebaseService.planNext[i]['Startdato'],firebaseService.planNext[i]['Start']) }} </h1>
      <h3>{{firebaseService.planNext[i]["Starttid"]}} - {{firebaseService.planNext[i]["Sluttid"]}}</h3>
    </div>
    <div class="infoField">
      <div ng-if="lateCheckIn" class="loadingBar" style="width:0;margin-right:-4px"></div>
      <div *ngFor="let x of segmentWidth" class="loadingBar" [ngStyle]="{'width' : x}"></div>
      <div class="loadingBar" [ngStyle] = "{'width' : currentWidth}"></div>
    </div>
    <button [disabled]="(!locationTracker.paJobb || !correctTime(firebaseService.planNext[i]['Start']))" ion-button full primary class="{{checkInOutVar}} button button-md button-default button-default-md button-full button-full-md" (click)="checkInOut()">{{stempleButton}}</button>
  </div>
  </ion-slide>
  <ion-slide>
  <div class="record">
    <div class="topBox">
      <h1>Ekstraregistrering</h1>
      <h3>Uten dato/GPS</h3>
    </div>
    <div class="infoField">
    </div>
    <button ion-button full primary class="{{checkInOutVar}} button button-md button-default button-default-md button-full button-full-md" (click)="checkInOut()">{{stempleButton}}</button>
  </div>
  </ion-slide>
</ion-slides>


<!-- Segment buttons-->
<div class="records">
  <div style="background-color: rgb(242, 242, 242); border-radius: 5px 5px 0px 0px; margin-bottom: -25px;">
  <ion-segment [(ngModel)]="planner">
    <ion-segment-button value="kommende">
      Kommende
    </ion-segment-button>
    <ion-segment-button value="ledig">
      Ledig
    </ion-segment-button>
    <ion-segment-button value="fullfort">
      Fullført
    </ion-segment-button>
  </ion-segment>
</div>

<!-- Future records -->
<ion-list style="background-color: rgb(242, 242, 242); border-radius: 0px 0px 5px 5px">
  <div [ngSwitch]="planner" >

    <!-- Upcoming -->
    <div *ngFor="let x of firebaseService.uniqueWeeknumbers, let j=index">
    
    <h1 style="padding-top: 10px; padding-left: 0px; color:black; font-size: 17px;" *ngSwitchCase="'kommende'" >{{firebaseService.uniqueWeeknumbers[j]}}</h1>

    <ion-item-sliding *ngFor="let x of firebaseService.upcoming2[j], let i=index">
      <ion-item *ngSwitchCase="'kommende'" (click)="itemSelected(x)" >
          <div *ngIf="checkIfNew([firebaseService.upcoming2[j][i]['Added']])" class="ribbon">
              <span>Ny vakt</span>
          </div>
          <div class="futureDate">
            <span style="font-size: 25px; font-weight: 900; color:#ffffff">{{firebaseService.upcoming2[j][i]["Startdato"] | slice:0:2}}</span><br>
            <span style="font-size: 21px; font-weight: 300; margin-top:0.5px;color:#ffffff">{{firebaseService.upcoming2[j][i]["Startdato"] | slice:3:7}}</span> 
          </div>
          <div class="futureInfo">
            <h3 style="font-weight: 800">{{getWeekdayName(firebaseService.upcoming2[j][i]["Start"])}}</h3>
            <h3>{{firebaseService.upcoming2[j][i]["Starttid"]}} - {{firebaseService.upcoming2[j][i]["Sluttid"]}}</h3>
          </div> 
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary">
          <ion-icon name="git-compare"></ion-icon>
          Bytt
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </div>

    <!-- Previous -->
    <div style="margin-top:30px">
    <ion-item-sliding *ngFor="let x of firebaseService.previous | slice:0:3, let i=index" >
      <ion-item *ngSwitchCase="'fullfort'" (click)="itemSelected(x)">
          <div class="futureDate">
            <span style="font-size: 25px; font-weight: 900; color:#ffffff">{{firebaseService.previous[i]["Startdato"] | slice:0:2}}</span><br>
            <span style="font-size: 21px; font-weight: 300; margin-top:0.5px;color:#ffffff">{{firebaseService.previous[i]["Startdato"] | slice:3:7}}</span> 
          </div>
          <div class="futureInfo">
            <h3 style="font-weight: 800">{{getWeekdayName(firebaseService.previous[i]["Start"])}}</h3>
            <h3>{{firebaseService.previous[i]["Starttid"]}} - {{firebaseService.previous[i]["Sluttid"]}}</h3>
          </div> 
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary">
          <ion-icon name="git-compare"></ion-icon>
          Bytt
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </div>

    </div>
  </ion-list>
      </div>

</div>





<br><br><br>

<!--

  <h3>Current Latitude: {{locationTracker.lat}}</h3>
  <h3>Current Longitude: {{locationTracker.lng}}</h3>
  <h3>På jobb? {{locationTracker.paJobb}}</h3> 

-->  

  <!-- ACTIVATE IF YOU MANUALLY WANT TO START THE TRACKING. REMEBER TO CHANGE FROM NGONINIT() TO START() IN HOME.ts
  
    <button ion-button full primary (click)="start()">Start Tracking</button>
     <button ion-button full primary (click)="scheduleNotification()">Send Notification</button> 

-->


</ion-content>