

.hide {
    display:none;
}


//*Text*//

h1 {
    font-size: 25px;
    color: #ffffff;
    padding-left: 15px;
    padding-top:35px;
}

h3 {
    font-size: 20px;
    padding-left:15px;
    color:black;
    font-weight: 300;
    padding-bottom: 2px;
    margin-top:-10px !important;
}

p {
    padding-left: 15px;
    padding-top:5px;
    padding-bottom: 5px;
}

//*Info field*//
.infoField {
    height: 5px;
    margin-top: -13px;
    width:100%;
}

.loadingBar {
    height: 7px;
    background: repeating-linear-gradient(
  -45deg,
  #a00b0b,
  #a00b0b 10px,
  #c00b0b 10px,
    #c00b0b 20px );
    margin-top: 3px;
    float:left;
}

.loadingBar:nth-child(odd){
    background: repeating-linear-gradient(
  -45deg,
  #7CFC00,
  #7CFC00 10px,
  #4EFC00 10px,
    #4EFC00 20px
    );
}

.loadingBar:nth-last-child(2){
    margin-right:-3px;
}

#currentlyLoading {
    margin-left:4px !important;
}

// *Stemple inn/ut button* //
.button-inner {
    //color:white;
}

//*Records*//

.info {
    width:95%;
    margin-left: auto;
    margin-right: auto;
}

.record {
    background-color: #f8f8f8;   
    margin-bottom: 20px;
    margin-top:30px;
    border-radius: 5px;
}

.records {

    border-radius: 5px;
}

.topBox {
    background: url("../assets/imgs/starbucks.JPG") ;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: 500px;
    background-blend-mode: darken;
    border-radius: 5px 5px 0px 0px;
}

.topBox h3 {
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.topBox h1 {
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

//*Future records*//

.futureRecords {
    border-radius: 5px;
    padding: 7.5px;
    background-color: #f2f2f2;
}

.rec {
    display:table;
    width:100%;
    padding-top:2.5px;
    padding-bottom:2.5px;
    position:relative;
    color:white;
}

.label-md {
    margin: 0px;
}

.list-md {
    padding: 5%;
    background-color: #f2f2f2
}

.list-md ion-item-sliding {
    background-color: rgba(0, 0, 0, 0) !important
}

ion-item-sliding .item {
    padding-left: 0px;
    padding-bottom:5px;
    background-color: rgba(0, 0, 0, 0) !important;

}

ion-item-sliding.active-slide.active-options-left ion-item-options[side=left], ion-item-sliding.active-slide.active-options-right ion-item-options:not([side=left]) {
    padding-bottom: 4px;
}

ion-item-options .button:last-child {
    border-radius: 0px 5px 5px 0px !important;
}

.item-md.item-block .item-inner {
    padding-right: 0px;
}

.item-md.item-block .item-inner {
    padding-right: 0px;
}
.list-ios {
    padding:4%;
}

.item-ios.item-block .item-inner {
    padding-right: 0px; 
}

.label-ios {
    margin: 0px;
}

.list-ios ion-item-sliding {
    background-color:#f2f2f2;
}

.futureDate {
    text-align: center;
    background-color: map-get($colors,dark);
    border-radius: 5px 0px 0px 5px;
    padding:10px;
    display:table-cell;
    min-width: 65px;
}

.futureInfo {
    color:black !important;
    display:table-cell;
    background-color:rgb(221, 221, 221);
    width: 100%;
    border-radius: 0px 5px 5px 0;
}

.futureInfo h3 {
    padding:5px;
    margin-left:10px;
}

//*Buttons*//

.checkInOut {
    background-color: map-get($colors,primary) !important;
    color: #000000;
}

.checkInOut2 {
    background-color: map-get($colors,dark) !important;
    color: #ffffff;
}


//*Icons*//
.pinIcon {
    float: right;
    padding: 4px;
    color :map-get($colors,primary);
}

.informationIcon {
    float: right;
    padding: 4px;
    color: #214f99;
    display:inline-table;
    font-size:2.5em;
    padding-right: 10px;
}

.box {
    width:200px;
    border:1px solid #BBB;
    background:#eee;
 }
 .ribbon {
    position: absolute;
    right: 0px; 
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px; 
    text-align: right;
 }
 .ribbon span {
    font-size: 10px;
    color: #fff; 
    text-transform: uppercase; 
    text-align: center;
    font-weight: bold; line-height: 2016x;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); /* Needed for Safari */
    width: 100px; display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
 }

 //*Segment button*//
.segment-ios .segment-button.segment-activated {
    background-color:rgba(0, 0, 0, 0);
    color: map-get($colors,primary) !important;
    border-bottom: 0.5px solid !important;
}

.segment-ios .segment-button {
    border-radius: 0px !important;
    border: 0px;
    border-bottom: 0.5px solid #dddddd;
    color:#adadad;
}

.ion-segment {
    border-radius: 5px;
}

.segment-button {
    margin-top:5px;
}

