page-settings {
 ion-card {
   padding:10px;
   width:95%;
   background-color: map-get($colors,light)!important;
 }
}

.range-md .range-knob-handle .range-pin {
  transform: translate3d(0, 0, 0) scale(1); }

.range-md:not(.range-has-pin) .range-knob-handle .range-knob {
  transform: scale(1); }

.range-ios .range-knob-handle .range-pin {
  transform: translate3d(0, 0, 0) scale(1); }

